.div1 {
  position: absolute;
  left: -5000px;
}

.title {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 2px lightgray;
}

.header-scrolled {
  position: absolute !important;
}

/* .section-gap {
  padding: 0px 0px 120px 0px !important;
  @media (max-width: 991px) {
    padding: 60px 0px;
  }
} */

.randomPic {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 5em;
}

.nasaPhoto {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  max-width: 100%;
  height: auto;
}

#myImg {
  cursor: none;
  transition: all 0.2s ease-in-out;
}

#myImg:hover {
  transform: scale(1.1);
}

.pictureOftheDayTitle {
  padding: 0 !important;
}

.titlePicture {
  padding: 0 !important;
}

.img-gal {
  height: 20em;
  width: auto;
}

.no-padding {
  padding: 0 !important;
}

.small-padding-top {
  padding-top: 20px;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.footer-area {
  padding: 300px 0px 0px 0px;
}
